body {
  width: 100vw;
  height: 100%;
  margin-bottom:50px;
  background-color: #141414;
}

html {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

h2 {
  font-size: 50px;
}

h4 {
  padding: 10px 20px 20px 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header {
  border-color: black;
  height:10%;
}

footer {
  position: fixed;
    height: 50px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}
#container1 h1 {
  color: white;
}

.parallax {
  /* The image used */
  background-image: url('/static/images/bg.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
    text-align: center;
}

#container1 {
  height: 100vh;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
#container1 h1 {
  color: white;
  font-size: 40px;
}

.align-bottom {
    position: absolute;
    bottom: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

input::placeholder {
  font-family: Roboto;
  font-size: 22px;
}
hr { background-color: #707070; opacity: 0.38; margin: 0px;}

#searchBarBox {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    }
input:focus {
  border-color: #707070;
  outline: none;
}

#searchBar {
  width: 487.1px;
  height: 35px;
  border-radius: 18px;
  border: solid 1px #707070;
  background-color: #ffffff;
}
#searchInput {
  text-align:center;
  width: 487.1px;
  height: 35px;
  border-radius: 18px;
  background-color: #2e2e2e;
  color: #e4e4e4;
}
#icons {
  filter: invert(1);
}