<!DOCTYPE html>
<html lang="en">
    <head>
    <title>App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <!-- <link href="./itemcss.css" rel="stylesheet" > -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    </head>
    <body>
        <h1>HEllo</h1>
    <!-- <div id = "searchBarBox" class="flexible">
        <div class="ui search">
            <div class="ui icon input">
                <input id="searchInput" class="prompt" type="text" placeholder="Search">
                <i id="icons" class="search icon"></i>
            </div>
        </div>
    </div>
    <hr>
    <div id="wrapper" class="flexible">
        <div id="keyword">
            <h1 id="word">"Neural Networks"</h1>
        </div>
        <div id="lower" class="flexible">
            <div><div id="lst1" class="flexible" onclick="clickList(0);">
                <img src="" alt="">
                <div class="txt" class="flexible">
                    <h2>Neural Networks Explained - Machine Learning Tutorial for Beginners</h2>
                    <h3>LearnCode.acardemy</h3>
                    <p>If you know nothing about how a neural network works, this is the video for you!  I've worked for weeks to find ways to explain this in a way that is easy to understand for beginners.</p>
                </div>
            </div></div>
            <div><div id="lst2" class="flexible" onclick="clickList(1);">
                <img src="" alt="">
                <div class="txt" class="flexible">
                    <h2>Neural Networks Explained - Machine Learning Tutorial for Beginners</h2>
                    <h3>LearnCode.acardemy</h3>
                    <p>If you know nothing about how a neural network works, this is the video for you!  I've worked for weeks to find ways to explain this in a way that is easy to understand for beginners.</p>
                </div>
            </div></div>
            <div><div id="lst3" class="flexible" onclick="clickList(2);">
                <img src="" alt="">
                <div class="txt" class="flexible">
                    <h2>Neural Networks Explained - Machine Learning Tutorial for Beginners</h2>
                    <h3>LearnCode.acardemy</h3>
                    <p>If you know nothing about how a neural network works, this is the video for you!  I've worked for weeks to find ways to explain this in a way that is easy to understand for beginners.</p>
                </div>
            </div></div>
            <div><div id="lst4" class="flexible" onclick="clickList(3);">
                <img src="" alt="">
                <div class="txt" class="flexible">
                    <h2>Neural Networks Explained - Machine Learning Tutorial for Beginners</h2>
                    <h3>LearnCode.acardemy</h3>
                    <p>If you know nothing about how a neural network works, this is the video for you!  I've worked for weeks to find ways to explain this in a way that is easy to understand for beginners.</p>
                </div>
            </div></div>
            <div><div id="lst5" class="flexible" onclick="clickList(4);">
                <img src="" alt="">
                <div class="txt" class="flexible">
                    <h2>Neural Networks Explained - Machine Learning Tutorial for Beginners</h2>
                    <h3>LearnCode.acardemy</h3>
                    <p>If you know nothing about how a neural network works, this is the video for you!  I've worked for weeks to find ways to explain this in a way that is easy to understand for beginners.</p>
                </div>
            </div></div>
        </div>
    </div> -->
    <!-- <script src="./main.js"></script> -->
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{url_for('static', filename='list.js')}}"></script>
    </body>
</html>