<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lecture View</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Pacifico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="/static/css/lectureView.css">
    <!-- <link href="./itemcss.css" rel="stylesheet" > -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.js">\x3C/script>')</script>
    <!-- <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script> -->
  </head>
  <body>
      <div id = "searchBarBox" class="flexible">
          <div class="ui search">
              <div class="ui icon input">
                  <input id="searchInput" class="prompt" type="text" placeholder="Search">
                  <i id="icons" class="search icon"></i>
              </div>
          </div>
      </div>
      <hr>
            <div id = "lowerWrapper">
              <div id = "wrapperOfCentralElements">
                <span id = "videoTitle">Video name</span>
                <div id = "boundingBoxOfVideo">
                    
                    <div id="player"></div>

                </div>
                <div id = "captionsDiv">
                    <img id = "leftDots" src="{{ url_for('static', filename='doubledot.png') }}" alt="">
                    <div id = "subtitles">
                        <div id="time1"> 00:00 </div>
                        <div id="caption1"> </div>
                        <div id="time2"> 00:00 </div>
                        <div id="caption2">  </div>
                    </div>
                    <img id = "rightDots" src="{{ url_for('static', filename='doubledot.png') }}" alt="">
                </div>
            </div>
          </div>

          
          <div id="wikiContents" style="display: none;">
              <div id = "headers">
                <div id="terminName">
                    convolution
                </div>
                <input type="image" id="xSign" onclick="pressX();" style="width:20px; height:20px;" src="{{ url_for('static', filename='close.png') }}" />
              </div>
                <div id="terminBox">
                    <div id="wiki"> 
                        WIKI
                    </div>
                    <div id="terminExplanation">
                            In mathematics (in particular, functional analysis) convolution is a mathematical operation on two functions (f and g) to produce a third function that expresses how the shape of one is modified by the other.

                            The term convolution refers to both the result function and to the process of computing it. Some features of convolution are similar to cross-correlation: for real-valued functions, of a continuous or discrete variable, it differs from cross-correlation only in that either f (x) or g(x) is reflected about the y-axis; thus it is a cross-correlation of f (x) and g(−x), or f (−x) and g(x).[note 1]  For continuous functions, the cross-correlation operator is the adjoint of the convolution operator.
                    </div>
                </div>

                <div id="wikiVideos">
                        <div id="sectionTitle">
                            Related
                        </div>
                    <div class="ui items" id="videosColl">
                        <span class="fxd"></span>
                        </div>
                </div>
            </div>

    <!-- <script src="./main.js"></script> -->
    <script src="/static/lectureView.js"></script>
  </body>

</html>